# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
/venv/
.venv/
/pip-selfcheck.json

# Git
.git/
.gitignore

# Secrets - These are handled by env-vars-file flag
.env
.env.yaml

# Caches and logs
.pytest_cache/
.coverage
logs/
data/
storage/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
