fastapi
uvicorn
sqlalchemy
asyncpg
aiosqlite
jinja2
python-multipart
pyjwt
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
httpx
aiohttp
limitermiddleware
alembic # Added for database migrations